@CHARSET "UTF-8";
.pull-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
body{
	background-color:lightblue;
}
.section-header{
	margin-bottom:0px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	background-color:#E1E1E1;
	color:white;
	padding-bottom:0px;
}
.section{
	padding-top:0px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
	margin-top:0px;
}
.content{
	margin-top:80px;
}

.block{
	text-transform:uppercase;
}
.successdiv, .errordiv,.loading{
	display:none;
}
.header{
	text-transform:uppercase;
}

.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -1em;
}
.icons li [class^="icon-"], .icons li [class*=" icon-"] {
  display: inline-block;
  text-align: center;
  width: 1em;
}
.icons li small {
  display: block;
  text-indent: 0;
}

/* big icons */
.huge-icon {
  font-size: 3em;
}

.enormous-icon {
  font-size: 5em;
  line-height: 1;
}
.enormous-icon.circled {
  display: block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #333333;
  color: white;
}

.header{
	text-transform:uppercase;
	font-weight:bold;
	
}

.page-header{
	padding-top:20px;
	padding-bottom:20px;
	background-image:url("../img/patterns/lghtmesh.png");
	color:#41B7D8;
	text-transform:uppercase;
}


.threecolumn{
	padding-left:20px;
	padding-right:20px;
	background-color:#EFEFEF;
}

#landingNavbar .navbar-inner, #loggedNavbar .navbar-inner{
	padding-left:30px;
	padding-right:30px;
}