<section>
<div class = "container-fluid" id = "footer" style = "background-color:lightblue">
	<div class = "row-fluid">
		<div class = "span4">
			<h3 class = "pull-center header">Contact Us</h3>
			
			<ul type = "none" class = "pull-left icons">
				<li>
				<i class = "icon-envelope"></i>
				<a href = "mailto:freepl.mkti.in">FreePL</a></li>
				<li>
				<i class = "icon-twitter"></i>
				<a href = "http://twitter.com/FreePL"> @FreePL</a>
				</li>
				<li>
				<i class = "icon-facebook"></i>
				<a href = "http://facebook.com/FreePL">FreePL</a>
			</ul>
			
		</div>
		<div class = "span4">
		<h3 class = "pull-center header">Latest News</h3>
		</div>
		<div class = "span4">
			<h3 class = "pull-center header">About us</h3>
		</div>
	</div>
</div>
</section>