<link href = "css/cerulean/bootstrap.css" rel="stylesheet">
<link href = "css/font-awesome.css" rel="stylesheet">
<link href = "css/freepl.css" rel = "stylesheet">
<script src = "js/jquery.js" type = "text/javascript"></script>
<script src = "js/bootstrap.min.js" type = "text/javascript">
</script>
