<!DOCTYPE html>
<html>
	<head>
		<title>My Teams</title>
		{% include 'headsection.twig' %}
		<script src = "js/team.js" type = "text/javascript"></script>
		<style>
			.head{
				color:black;
			}
			.playernos{
				position:relative;
				left:25px;
				color:black;
			}
			#teamform select{
				height:35px;
				font-size:16px;
			}
			#cost{
				padding:3px;
				padding-left:10px;
				position:fixed;
				right:40px;
				top:100px;
			}
			#teamname{
				margin-top:10px;
				height:30px;
			}
			#submitteamform{
				margin-top:10px;
			}
		</style>
		{% include 'analytics.twig' %}
	</head>
	<body>
		<header>
			{% include 'navbar.twig'%}
		</header>
		<section class = "content">
			<div id = "cost" class = "well span2">
				<h4>Total Cost: <span></span></h4>
			</div>
			<div class = "container">
				<div class = "row">
					<div class = "span8 offset2">
					<div class = "well section-header">
						<h1 class = "pull-center head">
							My Team
						</h1>
					</div>
				</div>
				</div>
				<div class = "row">
						<div class = "span8 offset2">
						<div class = "well pull-center section">
						{% if mode == "create" %}
							<form action = "updateteam.php" method = "POST" id = "teamform">
								<input type = "text" name = "team_name" id = "teamname" class = "span7" placeholder = "Enter Your team name" />
							{% for i in 1..11 %}
								<h3 class = "playernos pull-left">Player {{ i }}</h3>
								<select name = "players[]" class = "playernames span7">
									<option value = "NULL" data-cost = "0" >Select a Player</option>
									{% for player in playerlist %}
									<option value = "{{ player.player_id }}" data-cost = "{{ player.player_cost }}">
									{{ player.player_full_name }}&nbsp;({{player.player_role}}) 
									&#09; &#09; &#09; Cost:<b>{{ player.player_cost }}</b>
									</option>
									{% endfor %}
									<input type = "hidden" name = "mode" value = "{{ mode }}"/>
								</select>
							{% endfor %}
							<input type = "hidden" name = "mode"  value = "{{ mode }}"/>
								<input type = "submit" value = "submit" id = "submitteamform" class = "span7 btn btn-large btn-primary"/>
							</form>
							{% else %}
							<form action = "updateteam.php" method = "POST" id = "teamform">
								<h3 class = "pull-center">{{ teamname }}</h3>
								{% for currentplayer in currentlist %}
								<h3 class = "playernos pull-left">Player {{ loop.index }}</h3>
								<select name = "players[]" class = "playernames span7">
									<option value = "{{ currentplayer.player_id }}" data-cost = "{{ currentplayer.player_cost }}">
										{{ currentplayer.player_full_name }} &nbsp;({{ currentplayer.player_role }})
										&#09; &#09; &#09; Cost:<b>{{ currentplayer.player_cost }}</b>
									</option>
										{% for player in playerlist %}
										{% if player.player_id != currentplayer.player_id %}
											<option value = "{{ player.player_id }}" data-cost = "{{ player.player_cost }}">
											{{ player.player_full_name }}&nbsp;({{player.player_role}}) 
											&#09; &#09; &#09; Cost:<b>{{ player.player_cost }}</b>
											</option>
										{% endif %}
									{% endfor %}
									</select>
								{% endfor %}
								<input type = "hidden" name = "mode"  value = "{{ mode }}"/>
								<input type = "submit" value = "submit" id = "submitteamform" class = "span7 btn btn-large btn-primary"/>
							</form>
							{% endif%}
							
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>